
@font-face {
    font-family:"Univers LT 73 Black Extended";
    src:url("univers-lt-73-black-extended-593469576142e.woff2") format("woff2"),url("univers-lt-73-black-extended-593469576142e.woff") format("woff"),url("univers-lt-73-black-extended-593469576142e.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        