@font-face {
    font-family:"univers-ext";
    src:url("../css/fonts/univers-lt-73-black-extended-593469576142e.woff2") format("woff2"),url("../css/fonts/univers-lt-73-black-extended-593469576142e.woff") format("woff"),url("../css/fonts/univers-lt-73-black-extended-593469576142e.otf") format("opentype");
    font-style:normal;font-weight:400;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f4c5d4;
    overflow: hidden;
}

a, h6 {
    color: #f4c5d4;
    font-smoothing: never;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 12px;
    top: 8px;
    z-index: 99999999999999;
}

h6 {
    color: #0e4632;
    padding: 0;
    margin: 0;
}

.container {
    color: #0e4632;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

svg {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    position: absolute;
    left: 12px;
    bottom: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-smoothing: never;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    li {
        display: inline-block;
        border: 1px solid #0e4632;
        color: #0e4632;
        background: #f4c5d4;
        padding: 3px;
        margin: 0;
        transition: 0.4s;
    } li.active {
        border: 1px solid #f4c5d4;
        background: #0e4632;
        color: #f4c5d4;
    }
} 